<div class="title">
<h1>About Us</h1>
</div>
<div id="officersPage" class="row">
	<div id="moreDetails" class="col-md-6 row">
		<p>We are University of Maryland's chapter of the Chinese Student Association. Blah blah blah. Click on each of the faces to learn more about the E-Board!</p>
	</div>
	<div id="officerPics" class="col-md-6">
	</div>	
</div>