<div id="descriptionUs">
<h1>About Us</h1>
<p>We are University of Maryland's chapter of the Chinese Student Association. Blah blah blah. Click on each of the faces to learn more about the E-Board!</p>
</div>
<div id="officerPictures" ng-app="officers" ng-controller="officerCtrl">
	{{test}}
</div>