<div class="title">
<h1>Calendar</h1>
<p>We will be updating this calendar throughout the year with upcoming CSA events. Hope to see you there!<br>
	If you have google your calendar login, you can click <a href="https://calendar.google.com/calendar/ical/3qeg0ij57jgh6k0crbmccl8q5s%40group.calendar.google.com/public/basic.ics">here</a> to sync CSA calendar. </p>
</div>
<div id="calendar">
</div>