<!-- <h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
-->
<div id="welcome_intro">
	<h3 id="welcome">Welcome to University of Maryland's</h3>
	<h1 id="csa">CHINESE STUDENT ASSOCIATION</h1>
</div>