<h2> Information </h2>

<h3> Name </h3>
<%= @auxiliary[:name] %>
<h3> Email </h3>
<%= @auxiliary[:email] %>
<h3> Major </h3>
<%= @auxiliary[:major] %>
<h3> Expected Graduation </h3>
<%= @auxiliary[:expected_graduation] %>


