<!-- <p id="notice"><%= notice %></p> -->
<div class="title">
	<h1>Welcome!</h1>
</div>
<p>You (<%= @registration.firstName%> <%= @registration.lastName %>) have been successfully added! Welcome to the CSA family :). Don't forget to sign up on <a href="https://orgsync.com/64457/chapter">OrgSync</a>!</p>

