<!-- <p id="notice"><%= notice %></p> -->
<div class="title">
	<h1><%= notice %></h1>
</div>
<p>You (<%= @registration.firstName%> <%= @registration.lastName %>) have been successfully added! Welcome to the CSA family :)</p>
