<%= image_tag("error2.png", :class=>"img-responsive errorImg") %>	
<div class="title" id ="error">
	<h1>Uh oh! Looks like this page doesn't exist.</h1>
</div>
<div id="error_content">
	<p>Not to worry, we're on it. In the meantime, we can either direct you to the <a href="/">home page</a> or you can watch this lovely video of our past eboard members doing the harlem shake.	</p>	
	<div class="videoWrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/7QhUaevXxE8" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
