// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {

	/*background: image-url('home_background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	background-color: transparent;*/
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 0;
}
nav#otherPagesBar {
	
	margin-bottom: 0;
	li:hover {
		background: #FFF;		
		transition: background-color 1s;
	}
	li a:hover {
		color: #000;
		transition: color 1s;
	}
}
div.jumbotron {
	padding: 0;
	img {
		display: block;
		margin: 0 auto;
	}
}

