/*
These are the styles for all the pages sans the home page and the admin backend.
*/
/*place any variables here */
$footerHeight: 20px;

/* media queries */
@media(max-width: 768px) {
	div#content {
		padding-left: 25px;
		padding-right: 25px;
	}
	div.officer, div.photoSet {
		img {
			margin-left: 15px;
		}
		img:hover {
			opacity: 1;
		}
	}
}
@media(max-width: 400px) {
	span#credit {
		display: none;
	}
	span#social_media {
		float: none !important;
	}
}
@media(min-width: 800px) {
	nav#otherPagesBar {
		li:hover {
			background: #FFF;
			transition: background-color 1s;
		}
		li a:hover {
			color: #000;
			transition: color 1s;
		}
	}
}
@media(min-width: 992px) {
	div#verizon_logo {
		margin-top: 8%;
	}

}
/*end media queries*/

/*
general page styles
these styles are either for the overall template or the class just appears in multiple places
*/
html {
	min-width: 100%;
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}
body {
	margin-bottom: $footerHeight;
	overflow-x: hidden;
}
div.container-fluid {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}
/*end general body styles*/

/*navbar styles*/
nav#otherPagesBar {
	margin-bottom: 0;
	div.navbar-header {
		padding-left: 10px;
		.navbar-brand {
			padding-top: 5px;
			padding-bottom: 0;
		}
	}
	div.collapse.navbar-collapse.in ul{
		padding-left: 10px;
	}
}
/*end navbar styles*/

/*begin page content styles*/
div#bodyContent {
	padding-bottom: 10px;
	div.jumbotron {
		padding: 0;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	div#content {
		max-width: 960px;
		margin: 0 auto;
		padding-right: 5px;
		padding-left: 5px;
		form {
			textarea {
				resize: vertical;
			}
			label.control-label {
				text-align: left;
			}
		}
		/*separates the title from the actual content */
		div.title {
			border-bottom: 1px dotted #000;
			margin-bottom: 20px;
		}
		div.photoSet {
			img:hover {
				opacity: 0.6;
				-webkit-transition: opacity 0.5s;
				-moz-transition: opacity 0.5s;
				-ms-transition: opacity 0.5s;
				-o-transition: opacity 0.5s;
				transition: opacity 0.5s;
			}
		}
		div.sponsorsContent {
			span.small_title {
				font-size: 16px;
			}
			p#sponsor_op {
				margin: 30px 0;
			}
			div#verizon_logo {
				img {
					height: 114px;
					margin: 0 auto;
				}
			}
		}
		div#smallSponsorRow {
			margin-top: 30px;
			padding-left: 15px;
			.col-md-4 {
				padding: 0;
			}
			img {
				margin: 0 auto;
			}
		}
		div#calendar {
			width: 100%;
			margin: 0 auto;
		}
		div.event {
			p {
				font-size: 16px;
			}
		}
		div.shirt {
			text-align: center;
			margin-bottom: 10px;
		}
		form#addNew {
			div.form-group {
				margin-left: 0;
				label.control-label {
					text-align: left;
					padding-left: 0;
				}
				div.col-sm-10, div.col-sm-8 {
					padding-left: 0;
				}
			}
			div.selectMenu {
			padding: 0;
				label.control-label {
					padding-right: 0;
				}
			}
			/*thank default settings for this.. default was 4 changed to 2 so everything can align*/
			input[name="registration[shirtSize]"] {
				margin-top: 2px;
			}
		}
		div#officersPage {
			div#officerPics {
				max-width: 750px;
				margin: 0 auto;
				div.officer {
					display: inline;
					img {
						height: 140px;
						width: 140px;
						margin-bottom: 5px;
						margin-right: 5px;
						cursor: move;
						box-shadow: 1px 1px 1px #D5D5D5;
					}
			        div.description {
			        	display: none;
			        }
			        div.modal {
			        	h4 {
			        		font-weight: bold;
			        	}
			        	p {
			        		font-size: 16px;
			        	}
			        }
			    }
			}
			div#moreDetails {
				max-height: 450px;
				margin-left: 0;
				p {
					margin-right: 10px;
					margin-left: 10px;
				}
			}
		}
	}
}
/*end page content styles*/








footer {
	position: absolute;
	bottom: 0;
	height: $footerHeight;
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px solid #EDEDED;
	text-align: center;
	min-width: 100%;
	line-height: $footerHeight;
	.container {
		max-width: 960px;
		margin: 0 auto;
		p.text-muted {
			color: #B6B6B6;
			i.fa {
				padding-right: 5px;
				opacity: 0.5;
			}
			i.fa:hover {
				opacity: 1;
			}
		}
	}
}

