<div class="nav-wrapper">
	<a href="/" class="brand-logo">
		<%= image_tag('logo.png', size: '40x40') %>
	</a>
	<a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
	<ul id="regular-nav" class="right hide-on-med-and-down">
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 2</a></li>
		<li><a href="#">Link 3</a></li>
	</ul>
	<ul class="side-nav" id="mobile-menu">
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 2</a></li>
		<li><a href="#">Link 3</a></li>
	</ul>
</div>
